<!DOCTYPE HTML>

<html lang="en">

	<head>
	
		<meta charset="UTF-8" />
<!-- 		<color:red/>
		<link rel="icon" href="statue.ico" /> -->
		<title>Max Duhovniy</title>
	
	</head>
	
	<body>
	
		<div id="wrapper">
		
		<h1>Maxim Duhovniy</h1>
	
		<p>
    	Hello, this is my first and only personal website!
    	</p>
    	
    	<img id="sunny"
    	th:src="@{/img/sunny.jpg}"
    	width="800" height="500" alt="my lovely SUnny"/>
    	<br/>
    	<a href="http://youtube.com" title="YT">Link</a>
    	<br/>
    	<a href="mailto:maxim.duhovniy@gmail.com">Send me an email</a>
    	<br/>
    	
    	</div>
    	
    </body>
    	
</html>